<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Home</title>
    
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/top.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <!-- {% include 'includes/navbar.html' %} -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <!-- <img src="" width="112" height="28"> -->
                <img src="images/Vignan_logo.png">
            </a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <strong>Home</strong>
                </a>
                <a class="navbar-item" href="/statistics" >
                    <strong>Stats</strong>
                </a>
                <a class="navbar-item" href="/companies" >
                    <strong>Companies</strong>
                </a>
                <a class="navbar-item" href="/about">
                    <strong>About us</strong>
                </a>
                <a class="navbar-item" href="/contact">
                    <strong>contact us</strong>
                </a>
                
                
        </div>
                
            <!-- {% if user.is_authenticated %} -->
            <!-- <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-light " href="/"> -->
                        <!-- <strong><i class="fa fa-user" aria-hidden="true"></i> {{user.username}}</strong> -->
                        <!-- </a>
                        <a class="button is-danger is-light" href="/logout">
                            <strong>Log out</strong>
                        </a>
                    </div> -->
                    <!-- {% else %} -->
                    <div class="buttons">
                        <a class="button is-light is-danger" href="/studentlogin" target="_blank">
                        <strong>Student Log in</strong>
                        </a>
                        <a class="button is-light is-danger" href="/alumnilogin" target="_blank">
                            <strong>Alumni Log in</strong>
                            </a>
                        <a class="button is-light is-danger " href="/admin">
                            <strong>Admin Login</strong>
                            </a>
                    </div>
                    
                </div>
            </div>
            
            <!-- {% endif %} -->
        </div>
    </nav>
    <!-- HOME PAGE STARTS -->
    <div class="container">
    
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-7">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <div class="content">
                            <figure class="image is-4by3" style="">
                                <img src="images/1.gif">
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-vertical is-5">
                <article class="tile is-child mx-3">
                    <div class="content mt-6"><br><br><br><br>
                        <h1 class=" mx-5 mt-4 has-text-bold">WELCOME</h1>
                        <div class="content mx-5">
                            <p class="has-text-justified">The Placement Cell plays a crucial role in locating job
                                opportunities for Under Graduates and Post Graduates passing out from the college by
                                keeping in touch with reputed firms and industrial establishments.
                                <br>The Placement Cell operates round the year to facilitate contacts between companies
                                and graduates. The number of students placed through the campus interviews is
                                continuously rising. </p>
                            <a href="#about">

                                <button class="button is-light "
                                    style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i
                                            class="fas fa-arrow-circle-down"></i> Get
                                        Started</strong></button>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- {% include 'includes/messages.html' %}

        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%} -->
                
                <!-- <div class="notification is-success is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div> -->
            <!-- {% elif message.tags == 'info'%} -->
                <!-- <div class="notification is-info is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div> -->
            <!-- {% elif message.tags == 'warning'%} -->
                <!-- <div class="notification is-warning is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div> -->
            <!-- {% elif message.tags == 'error'%} -->
                <!-- <div class="notification is-warning is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div> -->
            <!-- {% endif %}
        {% endfor %}
{% endif %} -->
    </div>
    <!-- HOME PAGE ENDS -->
    <br><br><br>
    <!-- SECTION STARTS -->
    <section class="hero is-small is-bold" style="background-color:#F5F5F5" id="about">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-6 is-vertical is-parent">
                        <article class="tile is-child box">
                            <div class="content">
                                <figure class="image is-4by3">
                                    <img src="images/slide1.jpg">
                                </figure>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child ">
                            <h1 class="title mt-6">OBJECTIVES</h1>
                            <ul>
                                <li><b>1.</b> Developing the students to meet the Industries recruitment process</li>
                                <br>
                                <li><b>2.</b> To motivate students to develop Technical knowledge and soft skills in
                                    terms of career planning, goal setting</li><br>
                                <li><b>3.</b> To motivate students aspire for higher studies and guiding them to take
                                    competitive exams such as CAT, GATE, TOEFL, GRE, IES,UPSC,TNPSC etc</li><br>
                                <li><b>4.</b> Aiming to Place the maximum number of students through campus & off-campus
                                    interviews conducted by the top companies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION ENDS -->
    <!-- UPCOMING EVENTS STARTS -->
    <br><br><br><br>
        <marquee behavior="alternate" scrollamount="8">
            <h2><button style="color: red;">NEWS:****Today On Going DRIVE Accenture at 9.30 Am at AKCNB HALL****</button></h2>
            </marquee>
        <br><br><br> 

    <h1 class="title" style="text-align: center;"><button>ONGOING DRIVES</button></h1><br>
    <div class="container">
        <div class="tile is-ancestor mt-6">
            <div class="tile is-parent">
                <div class="tile is-child " id="events">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <article class="tile is-child ">
                                <div class="card mx-4">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="images/Infosyslogo.jpg" alt="Event 1">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <p class="title">Infosys</p>
                                        <div class="content">
                                            <p>Salary: <strong>6-8 LPA</strong> </p>
                                            <p>Role: <strong>SDE</strong></p>
                                            <a href="/register_job">
                                                <button class="button is-light is-outlined mt-3 is-pulled-right"
                                                    style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong> <a href="/studentlogin" target="_blank" style="text-decoration: none; color: #6900FF;">Login to Apply</a>
                                                        </strong></button>
                                            </a>
                                            <br>
                                            <time datetime="2016-1-1">jan 2023</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child ">
                                <div class="card mx-4">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="images/Accenturelogo.jpg" alt="Event 1">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <p class="title">Accenture</p>
                                        <div class="content">
                                            <p>Salary:<strong>6-8 LPA</strong></p>
                                            <p>Role: <strong>Business Analyst</strong></p>
                                            <a href="/register_job">
                                                <button class="button is-light is-outlined mt-3 is-pulled-right"
                                                    style="background-color: rgba(105, 0, 255, 0.11);"><strong> <a href="/studentlogin" target="_blank" style="text-decoration: none;color: #6900FF;">Login to Apply</strong></button>
                                            </a>
                                            <br>
                                            <time datetime="2016-1-1">FEB 2023</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child ">
                                <div class="card mx-4">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="images/tcs.svg" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <p class="title">TCS</p>
                                        <div class="content">
                                            <p>Salary:<strong>6-8 LPA</strong></p>
                                            <p>Role: <strong>SDE</strong></p>
                                            <a href="/register_job">
                                                <button class="button is-light is-outlined mt-3 is-pulled-right"
                                                    style="background-color: rgba(105, 0, 255, 0.11);"><strong> <a href="/studentlogin" target="_blank" style="text-decoration: none;color: #6900FF;">Login to Apply</strong></button>
                                            </a>
                                            <br>
                                            <time datetime="2016-1-1">March 2023</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
        <!-- {% if user.is_authenticated %}
        {% include 'includes/Events_login.html' %}
        {% else %}
        {% include 'includes/Events_not_login.html'%}
        {% endif %} -->
    </div>
    <!-- UPCOMING EVENT ENDS -->
    <br><br>
    <!-- COMPANIES STARTS -->
    <h2><center><button> Top Companies Visiting Our Campus</button></center></h2>
                        <marquee behavior="scroll" direction="left">
                            <img src="images/amazon.png" width="600" height="600" alt="Flying Bat">
                            <img src="images/Accenturelogo.jpg"width="600" height="600" alt="Flying Bat">
                            <img src="images/Delloite.png" width="600" height="600" alt="Flying Bat">
                            <img src="images/Microsoft.png" width="600" height="600" alt="Flying Bat">

                        </marquee><br><br>

     <h2><center><button>PLACED STUDENTS</button></center></h2><br>
                        <marquee behavior="scroll" direction="left">
                                <img src="images/images/aa.jpg" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/a.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/b.png"width="125" height="80" alt="Flying Bat">
                                <img src="images/images/c.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/d.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/e.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/f.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/g.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/h.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/i.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/j.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/k.png" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/ac.jpg" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/ad.jpg" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/ae.jpg" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/af.jpg" width="125" height="80" alt="Flying Bat">
                                <img src="images/images/ag.jpg" width="170" height="80" alt="Flying Bat">

    
                        </marquee><br>                       

    <!-- COMPANIES ENDS -->
    <div class="container" id="stats">
        <br><br>
        <!-- TOTAL PLACED -->
        <div class="box">
            <p class="title has-text-centered"><button>Highlights</button></p><br>   
            <section class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-size-6">Companies Visiting</p>
                        <p class="title" id="num" data-count="84">10</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-size-6">Highest Package(LPA)</p>
                        <p class="title" id="num" data-count="18.5">10.5</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-size-6">Average Package(LPA)</p>
                        <p class="title" data-count="8">6.6</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-size-6">Highest Placements(+)</p>
                        <p class="title" data-count="600">100</p>
                    </div>
                </div>
            </section>
        </div><br>
        

        

        <!-- TOTAL PLACED ENDS -->

        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

        <button class="open-button is-size-5" onclick="openForm()" style="color:#6900FF !important;"><strong><i
                    class="fas fa-comment-alt"></i> Chat</strong></button> -->

        <div class="chat-popup" id="myForm">
            <form class="form-container">
                <iframe style="border: none;border-radius: 5px;" width="280" height="390" allow="microphone;"
                    src="https://console.dialogflow.com/api-client/demo/embedded/7dec0910-2f92-4902-849c-5c6f90718781">
                </iframe>

                <button type="button" class="button cancel is-fullwidth"
                    style="background-color: rgba(105, 0, 255, 0.11);color:#6900FF;"
                    onclick="closeForm()"><strong>Close</strong></button>
            </form>
        </div>
     
    </div>
    <!-- JS FILES -->
    <script src="js/counter2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="js/tabs.js"></script>
    <style>

    </style>
    <script>
        // ===== Scroll to Top ==== 
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () {      // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        });
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        $("#button").click(function () {
            $('html, body').animate({
                scrollTop: $("#about").offset().top
            }, 1000);
        });
        $("#button1").click(function () {
            $('html, body').animate({
                scrollTop: $("#events").offset().top
            }, 1000);
        });
    </script>
    <script src="js/main.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="js/counter.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>



</html>`