<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>my applications</title>
</head>

<body  style="background-color: rgba(105, 0, 255, 0.11);color: #1a161f;">
 <h1 class="box-title">Welcome </h1>
<strong>  <h2>Applied Drives</h2></strong></button>
<p>Below you will find job roles you have applied for</p>   
</body>

</html>



